**.ipynb_checkpoints/
data/*
figures_and_stats/table.*
**d3_data*
!data/otu_table_wtax.biom
!data/LTP_blast_table.tsv
!data/barcode_mapper.txt
!data/finalQC.fasta.bz2
!data/sample_data_combined_qiime_format.tsv
!data/garciapichel2013.csv
!data/otusn_yeager2006.fasta
!data/top25.fa
